body {
	width:65%;
    margin:auto;
    font-family: sans-serif;
    line-height: 1.5
} 
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
  }
th, td {
    padding: 10px;
    text-align: left;
  }
th {
    font-weight: bold;
    background-color: #f2f2f2;
  }
td {
    background-color: #ffffff;
    border: 1px solid #dddddd;
  }